*, *::after, *::before {
  box-sizing: border-box;
  transition: all 200ms linear;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--bg);
}

:root:not([data-theme=dark]) {
  color-scheme: light dark;
  --quote-border: .4em solid #b9823f;
  --primary-color: #000;
  --primary-bg: var(--secondary-color);
  --author-color: #4f4f4f;
  --secondary-color: #828282;
  --quote-bg: #333333;
  --bg: #fafafa;
}
@media screen and (prefers-color-scheme: dark) {
  :root:not([data-theme=light]) {
    --quote-border: .4em solid #f7df94;
    --primary-color: #fff;
    --primary-bg: var(--quote-bg);
    --author-color: #f2f2f2;
    --secondary-color: #828282;
    --quote-bg: #333333;
    --bg: #121212;
  }
}
